$box-shadow: 0 2px 8px #00000042;

.create-items__form {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    background-color: #fff;
    width: 55%;
    margin: 40px auto;
    border-radius: 5px;
    transition: all 0.5s;

    &-btn {
        display: flex;
        justify-content: center;

        .create-items__inner-btn {
            padding: 8px 60px !important;
        }
    }


    &-input {
        border: none;
        border-bottom: 2px solid #888;
        padding: 2px 10px;
        color: #888;
        font-weight: 600;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        width: 80%;

        .wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }
    }

    .close-modal__icon {
        margin-left: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

.wrapper-fields {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

}

.field-type {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    justify-content: space-between;
}

.field-type__label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -7px;
}

.collection-items__form-input {
    border: none;
    border-bottom: 2px solid #888;
    padding: 2px 10px;
    color: #888;
    font-weight: 600;

    &:focus {
        outline: none;
    }
}

.textarea {
    height: 30px;
}

.boolean {
    transform: scale(1.5);
}

.remove {
    background-color: rgb(255, 107, 107);
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    border: none;

    &:hover {
        background-color: rgb(255, 0, 0);
    }
}

.add {
    padding: 2px 4px !important;
    margin-bottom: 50px;
}

.wrapper-line {
    display: flex;
    justify-content: space-between;
}

.create-items__main-header {
    margin-top: 50px;
}

.create-items__inner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.create-items__item {
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow;
    background: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    flex: 2;

    &-id,
    &-name,
    &-like {
        display: flex;

        span {
            font-size: 16px;
            font-weight: 500;
            color: #888;
        }

        p {
            color: #000;
            margin-left: 5px;
            font-weight: 400;
            font-size: 16px;
        }
    }

    .create-items__item-actions {
        display: flex;
        justify-content: end;
        gap: 5px;

        .edit-item {
            background-color: rgb(255, 217, 0);
            padding: 3px;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                background-color: rgb(255, 166, 0);
            }
        }

        .delete-item {
            background-color: rgb(255, 107, 107);
            padding: 3px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgb(255, 0, 0);
            }
        }

        .preview-item {
            background-color: rgb(101, 186, 215);
            padding: 3px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgb(26, 120, 227);
            }
        }
    }

}

.create-items__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}