$box-shadow: 0 4px 14px #00000042;
$white-color: #ffffff;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
    background: $white-color;
    padding: 10px 20px;
    text-align: center;
    border: none;
    box-shadow: $box-shadow;


    &:hover {
        transform: scale(1.03);
        transition: all .3s linear;
    }
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 0.75rem;
}

.card h4 {
    margin-bottom: 1.5rem;
    font-size: 0.85rem;
    color: #888;
}

.btn-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.topics-container {
    display: flex;
}

.topics-container__select {
    border: none;
    border-bottom: 2px solid #888;
    padding: 2px 10px;
    color: #888;
    font-weight: 600;
    box-shadow: $box-shadow;
    cursor: pointer;


    &:focus {
        outline: none;
    }
}

.topics-container__label {
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}