$box-shadow: 0 2px 8px #00000042;


.single-item {
    display: flex;
    justify-content: space-evenly; 
    box-shadow: $box-shadow;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;

    &__main {
        border-right: 1px solid #888;
        padding-right: 100px;
        
    }
}