$box-shadow: 0 2px 8px #00000042;
$bg-color: #dfebff;


.single-item {
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;

    &__main, 
    &__comments {
        box-shadow: $box-shadow;
        border-radius: 5px;
        padding: 20px 50px;
        flex: 6;
        border: 10px solid #fff;
        background-color: #fff;
    }

    &__name, &__likes, &__comments, &__tag, &__field, &__actions {
        display: flex;
    }
    
    &__comments {
        background: $bg-color;
    }
}