$box-shadow: 0 2px 8px #00000042;

.users {
    .actions {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        input {
            border: none;
            padding: 4px 10px;
            font-size: 14px;
            box-shadow: $box-shadow;
            border-radius: 3px;

            &:focus {
                outline: none;
            }
        }

        .action-btn {
            // padding: 0 4px !important;
            margin: 10px;
        }
    }

    .users-grid {
        background: #fff;
        box-shadow: $box-shadow;

        &__check {
            border: none;
        }

        .table-checkbox {
            width: 1.15em;
            height: 1.15em;
            margin-left: 20px;
        }
    }
}
