$box-shadow: 0 2px 8px #00000042;


.create-tags__form {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    background-color: #fff;
    width: 25%;
    margin: 0 auto;
    border-radius: 5px;
    transition: all .5s;


    &-btn {
        padding: 2px 20px !important;
    }

    &-input {
        border: none;
        border-bottom: 2px solid #888;
        padding: 2px 10px;
        color: #888;
        font-weight: 600;

        &:focus {
            outline: none;
        }
    }
        form {
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            

            .wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px;

            }
        }
        
        .close-modal__icon {
            margin-left: 200px;
            &:hover {
                cursor: pointer;
            }
        }
    }

