$box-shadow: 0 2px 8px #00000042;

.cabinet2-main {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    background-color: #fff;
    width: 40%;
    margin: 30px auto;
    border-radius: 5px;
    transition: all 0.5s;

    &__form {
        &-btn {
            padding: 2px 20px !important;
        }

        &-input {
            border: none;
            border-bottom: 2px solid #888;
            padding: 2px 10px;
            color: #888;
            font-weight: 600;

            &:focus {
                outline: none;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            margin: 15px 0;

            .wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 5px;

                img {
                    width: 100%;
                }

                .close-modal__icon {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .upload-photo {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;
            }
        }
    }
}

.ownCollection-card {
    background: #fff;
    padding: 10px 20px;
    text-align: center;
    border: none;
    box-shadow: $box-shadow;
    border-radius: 5px;

    img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 0.75rem;
    }
}

.ownCollections__item-actions {
    display: flex;
    justify-content: end;
    gap: 5px;

    .edit-tag {
        background-color: rgb(255, 217, 0);
        padding: 3px;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background-color: rgb(255, 166, 0);
        }
    }

    .delete-tag {
        background-color: rgb(255, 107, 107);
        padding: 3px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: rgb(255, 0, 0);
        }
    }
}

