$box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
$white-color: #ffffff;

.collections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .top-collections {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .top-collection {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: $box-shadow;
            padding: 20px;
            cursor: pointer;

            // &__img {
            //     width: 100px;
            // }
        }

        .top-items {
            .table {
                width: 500px !important;
            }
        }
    }
}

img {
    width: 100px;
}