.app.dark {
    background: #222;
    color: #999;
    color: #888;

    .login-page,
    .register-page {
        background: #222;
        &__form {
            background: #333;
        }
    }

    .sidebar {
        background: #222;
    }

    .mode {
        .light {
            background: #fff;
        }
    }

    .slick {
        background: #000;

        .card {
            background: #000;

        }
    }

    .legend {
        background: rgb(10, 111, 14);
        color: #000;
    }
}