@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

$logo-font: 'Beau Rivage', cursive;
$main-font: 'Open Sans', sans-serif;

$main-color: #198754;
$grey-color: #888888;
$hover: #dceaf9;
$white-color: #ffffff;

$box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

.sidebar {
    flex: 1.3;
    box-shadow: $box-shadow !important;
    min-height: 100vh;
    background: $white-color;
    z-index: 9;

    &-top {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    &-logo {
        font-family: $logo-font;
        font-size: 32px;
        font-weight: 900;
        color: $main-color;
    }

    &-center {
        padding-left: 10px;
    }

    &-dashboard {
        list-style: none;
        padding: 0;
        margin: 0;

        &__title {
            font-size: 14px;
            font-family: $main-font;
            color: $grey-color;
            font-weight: 700;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        &__item {
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;
            font-family: $main-font;
            font-size: 16px;
            font-weight: 600;
            color: $grey-color;

            &:hover {
                background: $hover;
            }
        }

        &__icon {
            font-size: 24px !important;
            color: $main-color;
            margin-right: 10px;
        }
    }
}
