$box-shadow: 0 2px 8px #00000042;

.create-topics__form {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
    background-color: #fff;
    width: 25%;
    margin: 30px auto;
    border-radius: 5px;
    transition: all 0.5s;

    &-btn {
        padding: 2px 20px !important;
    }

    &-input {
        border: none;
        border-bottom: 2px solid #888;
        padding: 2px 10px;
        color: #888;
        font-weight: 600;

        &:focus {
            outline: none;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 15px 0;

        .wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px;
        }
    }

    .close-modal__icon {
        margin-left: 200px;

        &:hover {
            cursor: pointer;
        }
    }
}

.create-topics__main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.create-topics__item {
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow;
    background: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    flex: 6;

    &:hover {
        transition: all .3s linear;
    }

    &-id,
    &-name {
        display: flex;

        span {
            font-size: 16px;
            font-weight: 500;
            color: #888;
        }

        p {
            color: #000;
            margin-left: 5px;
            font-weight: 400;
            font-size: 16px;
        }
    }

    .create-topics__item-actions {
        display: flex;
        justify-content: end;
        gap: 5px;

        .edit-topic {
            background-color: rgb(255, 217, 0);
            padding: 3px;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                background-color: rgb(255, 166, 0);
            }
        }

        .delete-topic {
            background-color: rgb(255, 107, 107);
            padding: 3px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: rgb(255, 0, 0);
            }
        }
    }

}